body{
    padding: 0%;
    margin: 0%;
    /* width: 100%;
    height: 100%;*/
    /* background-image: linear-gradient(to right, lightgreen, white, lightgreen) */
}

body header{
    display: flex;
    width: 100%;
    background-image: linear-gradient(lightgreen, white); /*gradient(white, lightgreen);*/
    padding: 1% 3% 2%;
    vertical-align: bottom;
    justify-content: space-between;
    
}

body header h1{
    /* display: inline-block; */
    /* float: left; */
    margin: 0%;
}

body header p {
    /* display: inline-block; */
    /*text-align: right; */
    /* float: right; */
    /* vertical-align: bottom; */
    /* align-self: end;
    align-items: end; */
    /* margin-top: 10px; */
    margin: 0;
    align-self: end;
}

/* ### regionColumn ######################################################################################################*/
/* .selecRegion{
    margin: 0;
    padding: ;
} */

.region{
    width: 95%;
    margin: 10px 2px 0 10px ;
    padding: 0%;
    vertical-align: middle;
}

.region:first-child{
    margin: 0 2px 0 10px;
}


.region button{
    text-align: center;
    vertical-align: middle;
    line-height: 0.9em;
    min-height: 50px;
}



/* ###  historyPart ######################################################################################################*/

div.dialoguePart{
    padding: 1%;
    margin: 10px 0% 10px;

    height: 100%; /* take up the full height of the remaining space */
    /* height: 1600px;*/
    max-height: 500px;
    overflow-y: auto;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
}



#chat-history {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-history li {
    width: 80%; /* set width to 80% */
    margin-bottom: 10px;
}

.userQ {
    /* text-align: right; */
    margin: 0 0 0 auto;
}

.userA {
    text-align: left;
    margin: 0 auto 0 0;
}

.card.mb-3 {
    margin-bottom: 10px;
}

.card.mb-3 p {
    padding: 10px;
}



/* ###  ######################################################################################################*/

div.queryPart{
    padding: 1%;
    margin: 3% 1% 1%;
    /* resize: vertical; allow vertical resizing */
    display: flex;
}

div.queryPart > div{
    margin: 0%;
    padding: 1%;
}

.input-field {
    width: calc(100% - 70px);
    padding: 10px;
    /* margin-bottom: 10px; */
    box-sizing: border-box;
    resize: vertical; /* allow vertical resizing */
    height: 50px; /* initial height */
    min-height: 50px; /* minimum height */
    max-height: calc(100vh - 250px); /* maximum height, calculated based on screen height */
}

div.queryPart button{
    vertical-align: top;
    margin-top: 10px;
}








h2{
    text-align: center;
}